@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "bower_components/angular-data-table/release/dataTable.css";
@import "bower_components/angular-data-table/release/material.css";

@import "variables.less";
/* Add App LESS files below */
@import "src/app/home/home.less";
@import "src/app/game/game.less";

/* Add Fonts below */
@fa-font-path: "bower_components/font-awesome/fonts";

body {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: @blue1;
}

.myBox {
  background-color: @blue2;
  color: white;
}

.lobsterFont {
  font-family: 'Lobster', Arial, serif;
}

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}
