<div id="game-page">
  <div class="gameHeader myBox lobsterFont">
    <div class="row">
      <div class="col-xs-4 col-md-3 text-left">
        Timer
      </div>
      <div class="col-xs-4 col-md-6 text-center playerName">
        {{game.player.name}}
      </div>
      <div class="col-xs-4 col-md-3 text-right">
        <span class="totalScore">{{game.points.total}}</span> Points
      </div>
    </div>
    <div class="row">
      <button ng-click="game.session.gameStart()" class="btn btn-primary">
        Start
      </button>
      <button ng-click="game.session.gameStop()" class="btn btn-primary">
        Stop
      </button>
    </div>
  </div>
  <ng-include ng-hide="game.session.gameStatus === 'ready'" src="'src/app/game/game-board.html'"></ng-include>
</div>
