<div id="game-page">
  <div class="gameHeader myBox lobsterFont">
    <div class="row">
      <div class="col-xs-4 col-md-3 text-left">
        Timer
      </div>
      <div class="col-xs-4 col-md-6 text-center playerName">
        {{game.player.name}}
      </div>
      <div class="col-xs-4 col-md-3 text-right">
        <span class="totalScore">{{game.points.total}}</span> Points
      </div>
    </div>
  </div>

  <div class="gameSpace">
    <ul class="toFill">
      <li ng-repeat="slot in game.result track by $index" class="letterDropContainer"
          data-drop="true" ng-model="vm.result[$index]" data-jqyoui-options jqyoui-droppable>
        <div class="btn btn-primary letterDragContainer" data-drag="false" data-jqyoui-options
             ng-model="vm.result[$index]" jqyoui-draggable ng-hide="!vm.result[$index]">
          <span class="letter">{{vm.result[$index]}}</span>
        </div>
        <div ng-hide="!vm.result[$index]" class="overlayBtn">
          <i class="fa fa-remove"></i>
        </div>
      </li>
    </ul>

    <div class="toDrag">
      <div ng-repeat="letter in game.letters track by $index" ng-model="game.letters[$index]"
           class="btn btn-primary letterDragContainer" data-drag="true" jqyoui-draggable="{animate:true}"
           data-jqyoui-options="{revert: 'invalid'}" ng-hide="!game.letters[$index]">
        <span class="letter">{{letter}}</span>
      </div>
    </div>
  </div>
</div>
